

.general-styles {
    background-color: #f8f9fa;
    color: #343a40;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold;
    cursor: pointer;
}

.nav-link {
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-link.active {
    color: black !important;
}

.btn-outline-light {
    border-color: #fff;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-outline-light:hover {
    background-color: #fff;
    color: #343a40;
}

.container {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: 0.5rem;
}